.todo-container {
  margin: 50px auto;
  width: 600px;
}

.todo-title {
  font-size: 35px;
  margin: 15px 0;
  color: orange;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.todo-new {
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.inputTodo {
  padding: 15px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(230, 238, 241);
}

.btnAdd {
  background-color: rgb(0, 98, 226);
  border: none;
  padding: 15px 35px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.todo-data {
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.todo-image {
  display: flex;
  justify-content: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}
